apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "factorycube-server.fullname" . }}-factoryinsight
  labels:
     {{- include "factorycube-server.labels.factoryinsight" . | nindent 4 }}
  {{- if .Values.factoryinsight.annotations }}
  annotations:
    {{- toYaml .Values.factoryinsight.annotations | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
     {{- include "factorycube-server.labels.factoryinsight" . | nindent 6 }}
  strategy:  
    type: RollingUpdate
  template:
    metadata:
      name: {{ include "factorycube-server.fullname" . }}-factoryinsight
      labels:
        {{- include "factorycube-server.labels.factoryinsight" . | nindent 8 }}
        redis-client: "true"
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    name: {{ include "factorycube-server.fullname" . }}-factoryinsight
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: {{ include "factorycube-server.fullname" . }}-factoryinsight
          {{- if .Values.factoryinsight.tag -}}
          image: {{ .Values.factoryinsight.image }}:{{ .Values.factoryinsight.tag }}
          {{- else }}
          image: {{ .Values.factoryinsight.image }}:{{ .Chart.AppVersion }}
          {{- end }}
          imagePullPolicy: Always
          ports:
              - name: http
                containerPort: 80
                protocol: TCP
          resources:
            limits:
              cpu: {{ .Values.factoryinsight.resources.limits.cpu }} 
            requests:
              cpu: {{ .Values.factoryinsight.resources.requests.cpu }}
          env:
            - name: REDIS_URI
              value: redis-node-0.redis-headless:26379
            - name: REDIS_URI2
              value: redis-node-1.redis-headless:26379
            - name: REDIS_URI3
              value: redis-node-2.redis-headless:26379
            - name: REDIS_PASSWORD
              value: {{ .Values.redis.password }} 
            
            - name: POSTGRES_HOST
              value: {{ .Values.factoryinsight.db_host }}
            - name: POSTGRES_DATABASE
              value: {{ .Values.factoryinsight.db_database }} 
            - name: POSTGRES_USER
              value: {{ .Values.factoryinsight.db_user }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.factoryinsight.db_password }}

            - name: FACTORYINSIGHT_USER
              value: {{ .Values.factoryinsight.user }}
            - name: FACTORYINSIGHT_PASSWORD
              value: {{ .Values.factoryinsight.password }} 
            - name: VERSION
              value: "1"
 
          # define a liveness probe that checks every 1 seconds, starting after 30 seconds
          livenessProbe:
            httpGet:
              path: /live
              port: 8086
            initialDelaySeconds: 30
            periodSeconds: 1

          # define a readiness probe that checks every 15 seconds
          readinessProbe:
            httpGet:
              path: /ready
              port: 8086
            periodSeconds: 1
      
      restartPolicy: Always
      terminationGracePeriodSeconds: 300 # the longest requests can up to 4 minutes
