# Cache everything except the specific files we need
.docker-cache/*
!.docker-cache/s6-overlay/
!.docker-cache/benthos/
!.docker-cache/redpanda/

tmp/
data/

metrics.txt

# Git metadata
.git
.gitignore
.gitattributes

# Documentation and non-code assets
docs/
examples/
changelog-images/
*.md
*.txt

# Test files (not needed for the binary)
**/*_test.go
tools/
integration/
test/
