# Copyright 2023 UMH Systems GmbH
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distrirbuted on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
# Classic vs Lite Mode
##
## Classic Mode is the default mode, which includes all features
## Lite Mode is a reduced feature set, which is useful for edge devices
tags:
  classic: true
  lite: false

_000_commonConfig:
  instanceName: "default"  # usually the hostname

  # UMH Merge point
  ##
  ## This is the point where a Kafka topic will be split into a Topic and Key
  ## We do this for perfomance reasons (Kafka is designed to handle a small number of topics with a large number of messages)
  ## By default this will be "5", meaning that our topic structure:
  ## umh.v1.<enterprise>.<site>.<area>.<productionLine>.<workCell>.<originID>.<_schema>.<schema context>
  ## will be split into:
  ## Topic: umh.v1.<enterprise>.<area>.<productionLine>
  ## Key: <workCell>.<originID>.<_schema>.<schema context>
  umhMergePoint: 5

_001_mqttConfig:
  # MQTT
  ##
  mqtt:
    # Enable/Disable the MQTT broker
    enabled: true
    external:
      enabled: true
      tlsOnly: false
    certificates:
      keystore:
        pkcs: "MIIRZAIBAzCCEQ4GCSqGSIb3DQEHAaCCEP8EghD7MIIQ9zCCCi4GCSqGSIb3DQEHAaCCCh8EggobMIIKFzCCChMGCyqGSIb3DQEMCgECoIIJwDCCCbwwZgYJKoZIhvcNAQUNMFkwOAYJKoZIhvcNAQUMMCsEFB9Xm2fv3BCy+9YIlayPxVrkf5gfAgInEAIBIDAMBggqhkiG9w0CCQUAMB0GCWCGSAFlAwQBKgQQZg+Rvxg/L/HTJjpgnMEzngSCCVBKpiquGQTsUmEAYQC8/nb2RHfK3I7UxtMLadMzK3ECpUwBAOMEZiDV0kKvFhFJ7NnpeM8NMe7divBxXe+z7WiNexOKB7WpuaQ/KAqq6brCn7AQh3htpvQjQ+lR/4CTI6ZL/fMnIREtQHWTm2vljPmB4ZlKvW+2Bd5D1d6yHV9FoJqJKkvC6k+zPE+4g26gg68TwvH+HZSbJhssBbiD2BNIBvSKPPTu09sDvN1ncBOdvjXJampE6CGRelerJM6GJKG7NsRQTAQ+rTJ5BVG2Ee4a9o6M2oflJgoosFR3omnJX187/6xv/t4yHyTMBQuyTD3dism+UwpgRmyW/AOLJKPVqxISOqYT2qgNLHleDwpc9XcrEv7KbkNcupil447wzxvZHQgoZkzgi5/rJWDOUPERqwqGBJ/kXSDzDRc82sJTsKuZLZ8A/3aY/2WjEVCq5Gx2reXTB+k8WGcr1jo1w+j8OVzM8dahFc2UdWAtUAHB7jqRxlxptIpXyK71NaMbbjALhebOrTYhTxCUJAUZhQ1qjVpvUG06XgYd88u++x3v0hmw1/2rbT4XZCAqdkq4LvavvKFe0opaRNYSCqT8LsFB1EjTl5KH9XnAndp+DgaF5h9E17j17j5bvX4C6fqLXB8WV96MIL2KOi8b14oW/uf7TkmulajRnKxkZ28uaJVV/8UzzHxWI1fpaey80tU1NFi4HEI+jqRV28EqOjuepc/cJtrsBgQEzzWdjQGT4NID5NVr1lUJaP8aCV4KTnnOw/C4Zrf3CC51rFHpREjUa9C9psY1WiraQM3IE973gkSnmParwwrodegnKCIbIgxOThEwtLrxP4tyBHQPbkmUQDAzdvO/8MqwYDxfR2nj96irBy9Jm50Q4jZFySS+1F3ET451olklx/UZbsjxNhHCzdCPbX17ObfbFpd2zpbY5ND704AgAcG7j/MxJbt8BLhvXQQFYJX4zSzR3rzwSWxlDOjmnHVqvtKI1Z24Dvg+PawZ7z3GiQQgKB6nI/0xrbbhpTSe4J+uEPY1NdCSy+TyNONEAtHkWZWdr2sNtKJZh70BXUxoyiKeqIMGagTqDsBrpDSxpT5LzL+WANXYoJlJpGp5rQQflDxHCyEwVtOYYUBvwLBQb0VoJzJ20klhVGxWNJbSw4QpM3T5IFEaxhg63r9Z9laX2f/wiYehY2PyMlJRn4g7VGqDvhqQ4ph+phyHWj6yjzJd57ibSvu65jTwnVFwPwn7Ol5cUayl940c61ZK1VNM69rC2pWWg2SINp40LzUJ2a8zoNpg8YYSvDqRImJ4GfjQfiD5QDIrcRklNVZh91FJgedL1tZhyFWrKpni8c8LUY7wBhz26dGxoB1yU6bcI2aEPFF6FypIgjgkrjSMHzeCQSPRV+wDirj+3xRuwybr6lzkm8SKypZi9bs0hX1K4G59ITHzCqEqNS9B3uz1Nmd9KGfJhWyjUcZN2h5/74yQgokbk3byfczD68k9wFcov0axvO1MVFIyJzMtn+REqHWSnqG2C5/rrxQT1VKgk13KPg6nOnjwT9t6eqEkeplkHy1c2srUXRIqIfHmDb0bxv3ItYaJt+KTrBUAT4NjF2O/e2wm6wgTFSkeYX8882KFOzQNiZomLWbVMaC+qcQRXkRAX3Nt1AgYPiAinI1VBSDt1bEi4/sMEK1mjXUlcf2KZYH/stn+88awTKM74Fmo1i686O1DvxFfmPVB0EqQeJLD96SLRyHs371BBNrh2UVERVtwen7WsvzNlFJquNmdQjBDcjHrwJNYX7Hg8KIQgDgJAOVbL0eCMetCG35whyRe0w6SxrmPbLFvtmKqhBebAHk6EyMWF4UxMVVJnCEU10/ONCq3kib9f/jNwZHtvWBCD24dxy8GHoBDKIOqvcZI47Y2qqafVyp9LLaQZuy/yQokePTNwcvcXPBoKWt7DT/Dg0iAgrQUMOnnTfQ6UpfGv57AXL/hCnjDcIa3XcMLpz6BWQf6WETirKnp/BArcXcQ+kjiZHfbe9PCJmMtwG2MzJN39wlu8JcMYu3OBsbvRLcvaoO7Orh8shx2MzgeKQUAZ9h+c5wh6nnrJdTILRwo4IU1jgOAW9muHFtaeHDFk6mkyETCHMZ8l+1mPCvcylbEuCoocdWtGQQbRUwGle9cXvyt9LvSlQQAdGhPjjCGIYdsoM4E820jqksVMEqrYUp116O70fN9zYB+qVvTmQtGuX+EtOPWTOgppuNSzqqRDKV3ty6kZzkmp8iNGTnDHhcv9rqUfVuH28hQ4Zym8YVKyH2+9zjMcP/5+Xg5jXaU0OiNHPf2fgB/bFqqSElZFwMmdwgBS5TXdExyxPwe/GhqSOZxduDoThq47W8FpFWpcNAmdIFMH9Gm+/cjQZbhOUPYeImZg3/U3SBVDZX8sxlVJqQu/hs1Zg4IHtr9M8D+Y2EB4vabOIHQApKt9lPyoV87gOt+zPnqaEtRVK+RATa6yka97ES65QV2gL4T9sNfQQRk/lzu6mx3efcPPRoPo4l30EADzV+DXfzyAlwPV58egcWTo/mDwrSBvF/pYAHCS3FcaGFOV4yf2H6RM7O8UNxtyiMrdalk6nHOM20bhtyQWOC+BVhlFe0XGbUUYkou2d653tLDAyvlKEhipTu0kbUX2e7YHE7tBxXcCKe62tcGsfm53gyca1kG2w/yI1Q4MlGCGC6gAJg2ZRzVJHkosvKAPuez5yRtrY7inpywkKMPTA7S4K8B25cVt3xNH4S3JkAP9Z8lsIMb2+CJbbeWaeot0NUybBQLXsTxJ1msj3UfQ9KtPRDfvL5WCm6mmyevCeY/NHyLHvIGBbrasB5n5lUBFC3z1R3BVeUZQfKNHWVet2nFhxFhMl+wLSBav2NGamjslqVlzzUu2uc47qIHdYlzNDKpkWA3agmUxpqRChgN3xp86+lOmmtis6+VobyL9VXyleP2z1V0YqO4XUrhVouaeDQ/0oE7G7YLB++Iuy1VZqMaglP5kJ0s9pUvd5eAt9bX9n1pNlYvrHFEuiYOejDyDKffUD8KZcX7EiwaWmpFstifczS1aRusFiXxKSVVfKbR21OoQJI/0ZIQhs29y/hnrndnaLFLHhN/rvhZS69is6yivAUiqa0Rg2khzaN/Ct+TI5IQ/KYOu0ZVFOvV7m2hvAVUUe+eLg0u8XzsU2L2lDFAMBsGCSqGSIb3DQEJFDEOHgwAaABpAHYAZQBtAHEwIQYJKoZIhvcNAQkVMRQEElRpbWUgMTcyODM3OTg1OTc4MTCCBsEGCSqGSIb3DQEHBqCCBrIwggauAgEAMIIGpwYJKoZIhvcNAQcBMGYGCSqGSIb3DQEFDTBZMDgGCSqGSIb3DQEFDDArBBT5FISw7HJ/UDwMfcUXWsf18+AaXwICJxACASAwDAYIKoZIhvcNAgkFADAdBglghkgBZQMEASoEEOY0vDf9MGItMfdTmI39tS2AggYwmbAUr1DMGa6NfIgllXL5sBA+GrD6Pff7/Vm2MyxK+84LixY5/KGTzniIKTH1qFpcWc1XcG1CP73mlfcWqCEOm9q+ysLsq4z3LpiwaEuUOvW5yrEZeB3XpCFDwQa+tZk1v/Y9KTlC1LRzcvgPnyxv+yV9M1RVYxbuJMzGDubxGEzYYouG729sxnpMhcmUzIDXb2rZKhquWR4uaIchas5q0x500tWW9HheM/jxe9XH63qJc93w17b4QlEFj/m+QBZJbLRt98kjvo5j3d6tS2utUQKbS68R33dJEecf8RKnEdzUBH1oBO3s//p0lUx9H8Ecf49zggHGTweKgr36UOGzeS5dOfCWYtZj/ZPGbc5vjs6DMg4JlwmecMIP5mQ56WLK2H1F3d2cZSZ6yyveqWA9bd/P4T4m130eTzwv5Mknj6apynLP01KW5TklDYnLPuzDR5RerwYpyo3pfcQIS5UOJxOgNc4X1tHTt2qiHDLY5ljxrQnkeHZ5kYNpnkfnjTwAy4CkTaOqbEp33lSphnH/N76HYlDrnTTwOVJgcgffPmm+Kps77Z6jduyu4r593VODSKbxjWt8xI+dqbgNgX86qMp6DmkAvdnmOSuYjN9kVvuOTcTqW2IY2qUDfAtq99+hwwgteRsNabnk/7ltz8/8wOWP9ur6RD89O6W9mXKVkZQjtuNxPN4LcR5dV17yJN4216B4li44fP0WFiimiWwSD7lD8DqBYPDXtpcJb/jDbZTMPvZtiSnMATSGVTA9t9s551Bmx8HG/iqd5gc8BF29Q5oBvoygI5F1DMHZ1OjDEzwkxy8x36t2jcqW+iENqscTBGwbITRSJ0whBRvHdS5FbnqsYj/PvtuLTiRus1HY0JcaQVKLEDKPnTE7f5wk9KIiX/LXujOBmHGAKWa/yW5bdO7ecmYs4GuYlxXme/tnLNNZ3OBzSrlh1zacewtL1mNwEOQAKUaYChXIaoQQUpEbOAJ97J1q2T82EdTWXoxqkB6n9HI0468rPfctZ28UDUf6FtzYsjfgit04rZm/ITIaBT6fY7E4zpPaaMEQGkpnbcOo8tL8Vk/gkckW09vffm8NGqXYPY5fUtV4FxgkvE+WE+hCsU1ZRk97TEr263kjHwE8Yi9E14ZMfHunjHSjznKnHWmS6+rWAfuG2uYXlcB2Nmnar1WPzJwNF73plJC5m4FOT2n3gExfO8LACF6Al6t3YFHPWmM84zUDZUQbgYEqfLVEXDqpiZmKOtanWvsTRL8tYyqA+Zu7joLPtrR2YevL8bYapIvyOOG5Ii+6V+e9aq4BObirKPZg7OrCC964YjjYmeaOkcBFSqsoUG7ScIozq4JIw/5gvtz69ykvIaM+ZAPnpBnZPzDMhBSRY9/KnJlmOTlxIuRwU1ms9Pj0DaAcV02ao6weHHpOuISlutaB90SxFSNirHKT71ECnMtejSP87rH0yo9srHDiciEjq6MtKupEkQrlhtmIfpxwk6f5qu2ahlZntkHFhM6K5g/Ogb41SA/3iiJVz5tLvuKfACEsinkJFd+rZz6nx96fIBaDU+5AN6hQ+Uoop6hYDwyRDXcjcfF82eO/tZOUJmprJWql1mekXV+AzU2Voz98wxyG7vhco1hQVSqzUrclpkFW+me3PqAHOO2HYYvDDuB/5Tavu8dfJKVg7zytBUUbSBSOn2HennegJAzABM+lE+wjDYHtyO/c2gV9sEUIPjIXjMOtLlHfkLvzQ6GbcFUK2XGAXj8X0uAokBI0yUIhCG5HuqvqtAULwPYq3XpWEcpeETqVQ5Tjxaj9ZGDfMipQa2tyi2t8HT5ZLq0CzftHpiwzR0rd2qs9XdIvCb15XsaNMjVIdJnH9IJueuF/QEHIm3GBfycUX5XHdbbkKnTKPC5d97prQMSDp8mdr5qAbfyejCUBlGvq02U6E+awJYpRQFzOiAEvuyd4WztGgrRY3sJCnrv7KRB1UF6hPN8VWlV/cSb9VXFl3XNuOmDXimeAClxrmpKU+YzyJ7XCEsa90Ih8oQGG4uq8wRFNhEaZ/KcXC6WVFZFoMnU4VYWqtR5ucnRmffUgnpaBGgAjs9uviJrcW3/oNgawsMMrpEikiODzmVVfME0wMTANBglghkgBZQMEAgEFAAQgqCccheln7x1ozeArTYemrA1YSIly3fcioPELHcvej5UEFArYdMkvNGzC78g5dET/m9gDYMT/AgInEA=="
        password: "changeme"
        privatekeypassword: "changeme"
      truststore:
        pkcs: "MIIGkgIBAzCCBjwGCSqGSIb3DQEHAaCCBi0EggYpMIIGJTCCBiEGCSqGSIb3DQEHBqCCBhIwggYOAgEAMIIGBwYJKoZIhvcNAQcBMGYGCSqGSIb3DQEFDTBZMDgGCSqGSIb3DQEFDDArBBTXkXgYLYHOpPlyf/LDijesr8fQEwICJxACASAwDAYIKoZIhvcNAgkFADAdBglghkgBZQMEASoEEArbHJEqtITtGKu062LMKFKAggWQqR/ohCzi1vSgkEdbvqiDJleRlIrP3YZz9eQPOra5txByqSOyEW3ZauwHs3JUypWPRaZBryNBK4plaetpg/GKXLd/f35fd13MaGFjTZcLCOi+A6E/Vl1K3Gcw/oLoOof9c92BBEgTXIiu/bfUTVEZMVpFO50Znr3vcpSOaE3kta+wIhI0iwQ6BRdJT1Vohrmtctulf56D6wMoqvAS+MtcrSireur2B8OD6bB/VYeJX/W+gE+J6q8BbEo+AITy13vJWmCG+8RqJK9tgpFzhZEYBUp3nzOIIBQbqfWnJdfabraRNZDlQM7Qyxf0kpL2Bk17GT7ekGkqNmRJTTq0gxAcxtT7Z7Waz2lhG6YlGs3kYP9N93BQKwaR+YbrDUKXMdP+ztwE4GlXg8qmc8C30zlOxIG2dYdTgpXpBMzZMywO1F0g/SjBD4KQBwMRTuDRWkfZBXTbttPOBOSS2JEMvwNSoz0VVoa/V2AXgETVihxXASZz1UX7omM18p47E6IFy9ynPq0Baq+dp/joPVq5mOwuPIQbN2dDkytS+6K68F0yyVoF0E9ZPfQOo6BTPK1QR4hJ1jWQrxNINUBdUdPSmprsY32fW8KNdllo2Ar4U6TvjUPWvvJQre/b0TevgiuCPQuYq4Yes5NZRUTN2BgZoTA2h4AEwLI32NJtexDC6FGW6iXt98lYjRT+q5rp9bJI5Uk6ksZO3UeodksApTIMLimcOFD71qUwlRsiE+1cOVabsRcmBpnQBO6+n9zBpDRjFDtFNrLbWiq/qafl6WpzTwsuev51elqkKYTok3qV5rUt9K0SR5dZd4E1JhUpzK3Ia4uZeTC9P3YP3xxDO+idzv9jsCoxAFrh8DuIQR89e4xA76rH4uLnqCIyJR8XisarZQzwXM4vm2K46vbdMguq1Nb8x7c+KyisSnq5hQISNfM7STFH9pHXo034/GEIBq4batoqM9HwlkcSHY7iNRmbVGW2EXBHWj/IpCDMxsYxG/CYWYAHP+x7kKMNVfPSASaiymnLqkTRfd5vnHcm8oCnwg1utLJyzz3pVUqJtE2VRGbeuRk1vd7j3x76l+yIq34o/L1l9vcoatAJ+RV70F3ckrCmc8w5n/2/8mBve57Mrcl5Iuoh87wACU5H6SDMnfLwTn43gkrzhiXBx2d3WBsiaz3F7DxebiDkB+Klu7F0lPF39TkZqPWPbVt0G5c1o1GmmwfXKUgCElNf8inZtE+MKoWFeSvq1Ym+NYhmx1jGx/2ScjzFg5tsDJDLkRLR8BjkpTTZLUznerOdGjqDje2C5+Z1g5ATNv3uD+nbS4c8xUtwdmfwCzS7SW/LC9T2huoaG1/tJ0ZSu48xMBjsKOJ6evVHdiDI364LFwa4nWwlLEQqwfbp3yqisfIh0qrUh8QqpaZw5I6u1H8eGs5ZEvYXkvBlkgqoAB/z5HsABDFniq2Bka/FVoKKtv8c1SZlhA9giIaP/BWtBNcdlOhcEsg1BcUFSTA9TbR125kc6L4sXHfQOkKv2GuINjkVYc0kgAIyJghuQmN8fNqLKsWjYsgbK8iSGpoiuIxbUXOE1xZt0AzKvhcaI4KHvkGOV+Crb7NVhkF1Xatf45AhWfH2V+EgWufUteqTodti+x1pHz9fbURinIqZIFBYdvaJqcqOfmkm4qQiim9CvkQtp2P0KZk6A9fOYTal7aEnU95p6Imt9ngZC6SsEXJen2x1z8BiE6dn/gNhTjVyUUhx/d8qnQq/7qDwOXznvYUsqGlgfyEmKU+jkr1sL8JHlHKzj9oAsM7vBBAtqAHMzwS1qWh/FKlUfqB/Fv76GOCx/8v1SBnxFu+xOKCw+odmiJWkyyvslL/o9X0tXNq/Ymthz2nQFy2mCwmWGmopm1qImDzpAUY/uDlYV04wTTAxMA0GCWCGSAFlAwQCAQUABCBFy6RgibGD+c4CE8xaxSunPmzTnWFrt/LsZwbHnAaujQQUYNCGreKgsu8ZwNwB2Ub3nK9m8AECAicQ"
        password: "changeme"

_002_simulatorConfig:
  # iotsensorsmqtt simulates IoT sensor data and publishes it over MQTT.
  # Learn more : https://github.com/amine-amaach/simulators/tree/main/ioTSensorsMQTT
  iotsensorsmqtt:
    enabled: true

  # iotsensorsmqtt simulates IoT sensor data as over OPC UA.
  # Learn more : https://github.com/amine-amaach/simulators/tree/main/ioTSensorsOPCUA
  opcuasimulator:
    enabled: true

  # opcuasimulatorv2 simulates a full-blown OPC UA server
  # Learn more : https://github.com/Azure-Samples/iot-edge-opc-plc
  opcuasimulatorv2:
    enabled: true

  # modbussimulator simulates a full-blown Modbus server
  # Learn more : https://github.com/cybcon/modbus-server
  modbussimulator:
    enabled: true

  # packmlmqttsimulator simulates PackML state data and publishes it over MQTT
  # Learn more: https://github.com/Spruik/PackML-MQTT-Simulator
  packmlmqttsimulator:
    enabled: true

_003_legacyConfig:
  # Legacy data model
  ##
  ## This enables the "ia" data model for the device
  ## Note: This data model is unsupported and will be removed in a future release
  enableLegacyDataModel: false
  # Legacy MQTT service
  ## This enables the -vernemq service (backed by HiveMQ)
  enableLegacyMQTTService: false


###################################################################################
### Do not modify anything below this line, unless you know what you are doing ###
###################################################################################

image:
  registry: management.umh.app/oci

grafana:
  image:
    # Use this to overwrite the default grafana image
    tag: ""
    registry: management.umh.app/oci
  global:
    imageregistry: management.umh.app/oci
  downloadDashboardsImage:
    registry: management.umh.app/oci
  serviceAccount:
    create: false
  ## this assertion should be disabled since installation breaks https://github.com/grafana/helm-charts/issues/2899
  assertNoLeakedSecrets: false
  testFramework:
    enabled: false
    image:
      registry: management.umh.app/oci
  service:
    enabled: true
    type: LoadBalancer
    port: 8080
  extraInitContainers:
    - image: management.umh.app/oci/united-manufacturing-hub/grafana-umh:1.2.1
      name: init-plugins
      imagePullPolicy: IfNotPresent
      command: ['sh', '-c', 'cp -r /plugins /var/lib/grafana/']
      volumeMounts:
        - name: storage
          mountPath: /var/lib/grafana
  persistence:
    enabled: true
    size: 5Gi
  initChownData:
    enabled: true
    image:
      registry: management.umh.app/oci
  imageRenderer:
    image:
      registry: management.umh.app/oci
  admin:
    existingSecret: "grafana-secret"
    userKey: adminuser
    passwordKey: adminpassword
  env:
    GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: umh-datasource,umh-v2-datasource
  envValueFrom:
    FACTORYINSIGHT_BASEURL:
      secretKeyRef:
        name: factoryinsight-secret
        key: baseURL
    FACTORYINSIGHT_APIKEY:
      secretKeyRef:
        name: factoryinsight-secret
        key: apiKey
    FACTORYINSIGHT_CUSTOMERID:
      secretKeyRef:
        name: factoryinsight-secret
        key: customerID
    FACTORYINSIGHT_PASSWORD:
      secretKeyRef:
        name: factoryinsight-secret
        key: password
    GRAFANAREADER_USER:
      secretKeyRef:
        name: grafana-secret
        key: databaseuser
    GRAFANAREADER_PASSWORD:
      secretKeyRef:
        name: grafana-secret
        key: databasepassword

  ## Configure grafana datasources
  ## ref: http://docs.grafana.org/administration/provisioning/#datasources
  ##
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: umh-v2-datasource
          # <string, required> datasource type. Required
          type: umh-v2-datasource
          # <string, required> access mode. proxy or direct (Server or Browser in the UI). Required
          access: proxy
          # <int> org id. will default to orgId 1 if not specified
          orgId: 1
          url: "http://united-manufacturing-hub-factoryinsight-service/"
          jsonData:
            customerID: $FACTORYINSIGHT_CUSTOMERID
            apiKey: $FACTORYINSIGHT_PASSWORD
            baseURL: "http://united-manufacturing-hub-factoryinsight-service/"
            apiKeyConfigured: true
          version: 1
          # <bool> allow users to edit datasources from the UI.
          isDefault: false
          editable: false
        # <string, required> name of the datasource. Required
        - name: umh-datasource
          # <string, required> datasource type. Required
          type: umh-datasource
          # <string, required> access mode. proxy or direct (Server or Browser in the UI). Required
          access: proxy
          # <int> org id. will default to orgId 1 if not specified
          orgId: 1
          url: "http://united-manufacturing-hub-factoryinsight-service/"
          jsonData:
            customerId: $FACTORYINSIGHT_CUSTOMERID
            apiKey: $FACTORYINSIGHT_PASSWORD
            serverURL: "http://united-manufacturing-hub-factoryinsight-service/"
            apiKeyConfigured: true
          version: 1
          # <bool> allow users to edit datasources from the UI.
          isDefault: false
          editable: false
        # https://grafana.com/docs/grafana/latest/datasources/postgres/
        - name: UMH TimescaleDB
          type: postgres
          url: united-manufacturing-hub:5432
          user: $GRAFANAREADER_USER
          isDefault: true
          secureJsonData:
            password: $GRAFANAREADER_PASSWORD
          jsonData:
            database: umh_v2
            sslmode: 'require' # disable/require/verify-ca/verify-full
            maxOpenConns: 100 # Grafana v5.4+
            maxIdleConns: 100 # Grafana v5.4+
            maxIdleConnsAuto: true # Grafana v9.5.1+
            connMaxLifetime: 14400 # Grafana v5.4+
            postgresVersion: 1300 # 903=9.3, 904=9.4, 905=9.5, 906=9.6, 1000=10
            timescaledb: true

  ## Grafana's primary configuration
  ## NOTE: values in map will be converted to ini format
  ## ref: http://docs.grafana.org/installation/configuration/
  ##
  grafana.ini:
    paths:
      data: /var/lib/grafana/data
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
      provisioning: /etc/grafana/provisioning
    database:
      host: united-manufacturing-hub
      user: "grafana"
      name: "grafana"
      password: "changeme"
      ssl_mode: require
      type: postgres
    log.console:
      format: json

nodered:
  mqtt:
    encryptedPassword: ""
  port: 1880
  storageRequest: 1Gi
  env:
    NODE_RED_ENABLE_SAFE_MODE: false
  timezone: Berlin/Europe
  serviceType: LoadBalancer
  ingress:
    enabled: false
    publicHost: ""
    publicHostSecretName: ""
  flows: {}
  settings: {}

redpanda:
  image:
    repository: management.umh.app/oci/redpandadata/redpanda
  fullnameOverride: united-manufacturing-hub-kafka
  statefulset:
    replicas: 1
    initContainerImage:
      repository: management.umh.app/oci/library/busybox
  rbac:
    enabled: true
  storage:
    persistentVolume:
      size: 10Gi
  listeners:
    kafka:
      port: 9092
  resources:
    cpu:
      cores: 1
    memory:
      enable_memory_locking: true
      container:
        max: 2Gi
  config:
    cluster:
      auto_create_topics_enabled: true
    tunable:
      default_topic_partitions: 6
  tls:
    enabled: false
    serviceAccount:
      create: false
    service:
      type: LoadBalancer
      port: 8090
      targetPort: 8080
    console:
      config:
        kafka:
          brokers:
            - united-manufacturing-hub-kafka:9092
  console:
    image:
      registry: management.umh.app/oci

redis:
  global:
    imageregistry: management.umh.app/oci
  image:
    registry: management.umh.app/oci
    repository: bitnami/redis
  architecture: standalone
  commonConfiguration: |-
    maxmemory-policy allkeys-lru
    maxmemory 50mb
    # Backwards compatability with Redis version 6.*
    replica-ignore-disk-write-errors yes
  master:
    extraFlags:
      - --maxmemory 50mb
    livenessProbe:
      initialDelaySeconds: 5
    readinessProbe:
      initialDelaySeconds: 120
    resources:
      limits:
        cpu: 100m
        memory: 100Mi
      requests:
        cpu: 50m
        memory: 50Mi
  metrics:
    enabled: true
    image:
      registry: management.umh.app/oci
  pdb:
    create: true
    minAvailable: 2
  serviceAccount:
    create: false
  auth:
    existingSecret: redis-secret
    existingSecretPasswordKey: redispassword
  sentinel:
    image:
      registry: management.umh.app/oci
  volumePermissions:
    image:
      registry: management.umh.app/oci
      repository: bitnami/os-shell
  sysctl:
    image:
      registry: management.umh.app/oci
      repository: bitnami/os-shell

timescaledb-single:
  replicaCount: 1
  image:
    repository: management.umh.app/oci/timescale/timescaledb-ha
    tag: pg13.8-ts2.8.0-p1
    pullPolicy: IfNotPresent
  prometheus:
    image:
      repository: management.umh.app/oci/prometheuscommunity/postgres-exporter
  patroni:
    postgresql:
      create_replica_methods:
        - basebackup
  postInit:
    - configMap:
        name: timescale-post-init
        optional: false
    - secret:
        name: timescale-post-init-pw
        optional: false
  service:
    primary:
      type: LoadBalancer
  serviceAccount:
    create: false