@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
.spinning > * > *:first-child {
    animation: spin 1s infinite linear;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
