name: Check Markdown links

on: 
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main, staging ]
  schedule:
  # Run everyday at 9:00 AM (See https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07)
  - cron: "0 9 * * *"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        folder-path: 'docs'
        config-file: '.github/workflows/.mlc_config.json'
