name: Codecov

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'
      - name: Run coverage
        run: go test ./... -tags kafka -race -coverprofile coverage.out -covermode=atomic
        working-directory: ./golang
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./golang/coverage.out