name: barcodereader
on:
  push
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Login to DockerHub Registry
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}



      - name: Build the tagged Docker image
        run: docker build . --file deployment/barcodereader/Dockerfile --tag unitedmanufacturinghub/barcodereader:${GITHUB_REF##*/}

      - name: Push the tagged Docker image
        run: docker push unitedmanufacturinghub/barcodereader:${GITHUB_REF##*/}
