# Copyright 2025 UMH Systems GmbH
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Go Code Analysis

on:
  pull_request:
    branches:
      - "**"
  merge_group:
jobs:
  vet:
    name: Go Vet
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./umh-core

    steps:
      - uses: actions/checkout@v6

      - name: Get Go version from Makefile
        id: go_version
        working-directory: ./umh-core
        run: echo "version=$(make print-golang-version)" >> $GITHUB_OUTPUT

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.go_version.outputs.version }}
          cache: true

      - name: Run go vet
        run: make vet

  nilaway:
    name: Nilaway Analysis
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./umh-core

    steps:
      - uses: actions/checkout@v6

      - name: Get Go version from Makefile
        id: go_version
        working-directory: ./umh-core
        run: echo "version=$(make print-golang-version)" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.go_version.outputs.version }}
          cache: true

      - name: Install nilaway
        run: go install go.uber.org/nilaway/cmd/nilaway@latest

      - name: Run nilaway
        run: make nilaway
