name: kafka-to-postgresql-v2-go-tests
on:
  pull_request:
    branches:
      - main
      - staging

    paths:
      - deployment/united-manufacturing-hub/
      - deployment/united-manufacturing-hub/*
      - deployment/united-manufacturing-hub/**/*

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - name: Run tests (inside golang/cmd/kafka-to-postgresql-v2)
        run: |
          cd golang/cmd/kafka-to-postgresql-v2
          go test -v ./...
